<p>
  foo works!
</p>
<!-- does not works here
<app-foo> 
  app foo selecter 
</app-foo>
-->

<h3>
  heading tag test
</h3>

<!-- failed
<table width="pixel|%">
  <tr>
    <th>col 1 </th>
    <th>col 2 </th>
  </tr>

  <tr>
    <td colspan="2"> this is a test about table</td>
  </tr>
</table>
-->

<h3>
  expression test(1+1): {{1 + 1 }}
</h3>

<button disabled>disabled</button>

<!-- try to put this line into app 
<app-foo-inner >
  some content but would not display on the screen
</app-foo-inner>
-->